body{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 5);
}
header{
    background: linear-gradient( to right, red,blue);
    text-align: center;
}
header h1{
    color: white;
    margin: 0;
}
header p{
    font-style: italic;
    font-size: 150%;
    color: white;

}

article:nth-of-type(1){
    font-weight: bold;
    margin-left: 1%;
    color: white;
}
table{
    margin: auto;
    text-align: center;
    margin-top: -4%;
    font-weight: bold;
    font-size: 150%;
    margin-left: 20%;
    color: white;
}
article:nth-of-type(2){
    font-weight: bold;
    font-size: 120%;
    margin: auto;
    margin-left: 1%;
    margin-top: -1%;
    color: white;
    
}
article:nth-of-type(3){
    margin: auto;
    margin-left: 20%;
    margin-top: -15%;
    font-weight: bold;
    color: white;

}
article:nth-of-type(4){
    margin: auto;
    margin-top: 3%;
    margin-left: 20%;
    font-weight: bold;
    color: white;
}
footer{
    margin: auto;
    margin-top: 10%;
    text-align: center;
}
